[2018-02-13 10:19] prolic opened #1 "make enums, uuids and prooph classes normal data type using deriving"

[2018-02-22 13:16] #1 closed

[2018-02-26 21:14] felipeweb11 opened #5 "Suggestion: Use Assert library as an alternative to data validation."
[webmozart/assert](https://github.com/webmozart/assert) is a powerful library that could help in validation.
In this library, by default all assertions throw an InvalidArgumentException.

[2018-02-28 08:14] prolic commented on #5
@felipeweb11 Thanks for the suggestion. I will probably remove the assert lib, because all code is generated either way, so I can generate the checks as well. No need for an additional library. I leave this open until it's addressed.

[2018-03-03 08:07] prolic commented on #5
resolved via https://github.com/prolic/fpp/pull/8

[2018-03-03 08:07] #5 closed

[2018-03-06 07:09] mimmi20 opened #9 "error in readme"
The example enum in the readme

[code]

is generating an error.

[code]

[2018-03-06 07:12] mimmi20 opened #10 "[Feature] allow lowercased values"
The example

[code]

is actually generating an error.

[code]

Please allow lowercased values.

[2018-03-06 07:28] mimmi20 opened #11 "[Feature] generate files according to PSR"
The example

[code]

is generating the output

[code]

Could you change the output like this? (I would prefer Version 3)

Version 1 (one namespace for all classes)
[code]

Version 2 (one namespace for all classes without brackets)
[code]

Version 3: each class into a seperate file according to PSR1/2

[2018-03-06 11:01] prolic commented on #9
fixed, thanks.

[2018-03-06 11:01] #9 closed

[2018-03-06 11:03] prolic commented on #11
Thanks for your input. It's indeed planned to support creating multiple files based on psr autoloading rules. But I don't have the time to do it myself now. So you an either provide a PR or wait a little :)

[2018-03-06 11:03] #11 closed

[2018-03-06 11:04] prolic commented on #10
:+1: ok, maybe I have time this weekend to do that. But feel free to submit a PR. The needed change is in the parse function.

[2018-03-06 11:59] prolic opened #12 "Generate one file per class according to PSR autoloading rules"
Maybe just read autoload section from `composer.json` and work with that, if a namespace is not defined in `composer.json`, then simply throw an exception.

[2018-03-07 21:58] paales opened #13 "Comment support in fpp files // and /* */"
I notices the need to provide comments in my fpp files, support would be nice :)

[2018-03-08 00:35] paales opened #14 "result of deriving(FromArray) has {{arguments}} still in the code and hasn't got a return type."
http://cloud.h-o.nl/q0nY

Simplified fpp code that triggered the error.
[code]

[2018-03-08 00:38] paales opened #15 "deriving(Uuid) Should have its \Ramsey\Uuid\UuidInterface as constructor instead of Uuid"
[code]

`__construct(\Ramsey\Uuid\UuidInterface $planId)` should be generated, but it returns:

[code]

[2018-03-08 00:38] paales opened #16 "InvalidDeriving.php doesn't return properly formatted messages"
It has $s in the messages but should be %s

[2018-03-08 00:40] paales opened #17 "Using library as a composer dependency in project results in wrong autoload.php path."
Replacing https://github.com/prolic/fpp/blob/master/src/bootstrap.php#L14 with

This works
[code]

[2018-03-08 00:43] paales opened #18 "Parser doesn't throw error on missing comma"
This missing comma should probably throw an error: http://cloud.h-o.nl/q1BX

[2018-03-08 06:36] #18 closed

[2018-03-08 06:41] #17 closed

[2018-03-08 06:50] #16 closed

[2018-03-08 06:55] #15 closed

[2018-03-08 07:02] #14 closed

[2018-03-08 07:04] prolic commented on #13
Thanks @paales for all your bug reports, I solved all critical ones as for now, but will leave this open as another task. It has not super high priority right now, but I think it's a nice addition.

[2018-03-08 19:12] paales commented on #13
Thanks a lot! Created our first go at the domain model: 200 lines of FPP, 3k lines of PHP code, all valid :)

[2018-03-09 08:39] prolic commented on #13
Comments are now allowed, thanks for your help.

[2018-03-09 08:39] #13 closed

[2018-03-09 08:39] prolic commented on #10
lower case is now allowed.

[2018-03-09 08:39] #10 closed

[2018-03-09 09:33] paales commented on #13
Awesome! We probably need to update the wiki for the PHPStorm file format so that comments are recognized.

[2018-03-09 14:07] prolic commented on #13
Thanks for the hint about PhpSTorm integration, I updated the wiki.

[2018-03-09 14:58] Maikel-Koek opened #19 ""Cannot use 'ClassName' because the name is already in use""
When inserting the same classes multiple times, the following problem occurs:

![schermafbeelding 2018-03-09 om 15 58 16](https://user-images.githubusercontent.com/6301809/37213562-b492a21a-23b2-11e8-9ab2-71a1aaff76a7.png)

[2018-03-09 15:01] prolic commented on #19
Thanks for the report. I think I have to remove the imports again and use
absolute class names. Also reduces other collisions.

On Fri, Mar 9, 2018, 22:58 Maikel <notifications@github.com> wrote:

[2018-03-09 15:18] #19 closed

[2018-03-09 15:18] prolic commented on #19
Thanks lot !!!

[2018-03-09 15:30] Maikel-Koek opened #20 "Deriving 'AggregateChanged' extends 'DomainEvent'"
For example:

[code]

Generates the following:

[code]

[2018-03-09 15:31] prolic commented on #20
Yes, that's correct.

[2018-03-09 15:31] prolic commented on #20
But the class content is different

[2018-03-09 15:33] Maikel-Koek commented on #20
Hm, it causes an error at our side, maybe you can tell me what I'm doing wrong?

[code]

[2018-03-09 15:46] prolic commented on #20
Ah okay, I see, I need to change something.... please wait a bit

[2018-03-09 15:57] prolic commented on #20
I hope to fix this tomorrow

[2018-03-09 16:24] Maikel-Koek opened #21 "Strict type for decimal number?"
We tried to use float for our (currency) decimal numbers, but this fails when passing no decimal numbers:
[code]

But an int should be allowed as a float type.

https://wiki.php.net/rfc/scalar_type_hints_v5#int-_float_exception_makes_strict_mode_flawed

Maybe we can check `is_float(x) OR is_int(x)`?

The corresponding code with the issue in `setPayload()`:
[code]

[2018-03-09 16:36] prolic commented on #21
good catch, wait

[2018-03-09 16:36] prolic commented on #21
done

[2018-03-09 16:44] Maikel-Koek opened #22 "ID field stripped from payload"
I ran into the following error:

[code]

This is the corresponding code:

[code]

This has to be because `planId` is stripped from the payload here:
[code]

Any idea on how to solve this?

[2018-03-09 17:00] prolic commented on #22
Yes. Sorry. You changed the class extends manually, correct?

I will fix this aggregate changed bug tomorrow. It's a bit more
complicated. The problem you described here is pretty simple to fix, but I
will do both together.
Thanks for reporting.

On Sat, Mar 10, 2018, 00:44 Maikel <notifications@github.com> wrote:

[2018-03-09 20:45] #20 closed

[2018-03-09 20:45] #22 closed

[2018-03-09 20:46] prolic commented on #22
@Maikel-Koek can you confirm it's working good now?

[2018-03-09 20:46] prolic commented on #20
@Maikel-Koek can you confirm it's working good now?

[2018-03-10 15:29] paales commented on #20
@prolic Not fully yet. return type is incompatible with AggregateChanged:

[code]

Should be

[code]

[2018-03-10 15:52] prolic commented on #20
ah damn, that method should go away, we can use the method of the base class, one second...

[2018-03-10 15:53] prolic commented on #20
please check again and let me know, thanks

[2018-03-10 16:06] paales opened #23 "Cannot call abstract method Prooph\Common\Messaging\DomainMessage::setPayload()"
It seems the setPayload tries to call an abstract parent::setPayload, should probably be removed.

[code]

[2018-03-10 16:17] #23 closed

[2018-03-10 16:17] prolic commented on #23
fixed in master, thanks for reporting

[2018-03-11 13:22] paales commented on #23
Thanks! Works

[2018-03-11 15:13] #12 closed

[2018-03-11 15:13] prolic commented on #12
@paales @lunetics please check if this is working for your

[2018-03-11 15:49] paales opened #24 "Multiple namespaces in a single fpp file don't properly split to the correct directories."

[2018-03-11 15:54] paales commented on #24
I can't look.. Is split fine..

[2018-03-11 15:54] #24 closed

[2018-03-11 16:40] paales opened #25 "Optional arguments when providing full namespaced paths"
[code]

Will thow an error:
`Parse Error: Syntax error, unexpected '\', expecting 'T_STRING' at line 59 on file `

Also it seems there is an off-by-one error in the error reporting, it actually should be line 58 in my case.

[2018-03-11 16:40] paales opened #26 "Delete classes when they aren't in the fpp file any more."

[2018-03-11 16:55] #25 closed

[2018-03-11 16:56] prolic commented on #25
This is fixed now, I don't know about the line number issue though, I'll create another issue for this and see what I can do when I have some little extra time, not important right now.

[2018-03-11 16:57] prolic opened #27 "Error reporting off by one line"
see https://github.com/prolic/fpp/issues/25

[2018-03-11 16:58] prolic commented on #26
I'm not sure about this one. We could add a flag and make it optional (like: `fpp.php src --delete`). But then we need to store the information of last parsing run somewhere. Maybe a `.fpp-generated-files` file can be put at the root of the repository. Not sure at the moment. I will leave it open for now.

[2018-03-11 17:10] paales commented on #25
Agreed, not important right now :)

[2018-03-11 17:11] paales commented on #26
Maybe scan some files and see if they have a 'generated by fpp' string in it. Or have a separate --clean method or something.

[2018-03-11 17:18] paales opened #28 "Enum VALUE const should have access modified (low prio)"
Generated class:
[code]

should probably be

[code]

[2018-03-11 17:26] prolic commented on #28
fixed

[2018-03-11 17:26] #28 closed

[2018-03-11 17:28] prolic opened #29 "check php inspections"
install https://github.com/kalessil/phpinspectionsea on your local environment en see all the warnings the classes still throw

[2018-03-11 18:03] paales commented on #28
👍

[2018-03-12 10:46] Maikel-Koek commented on #21
@prolic This doesn't seem to be working (anymore)?

[code]

[2018-03-12 11:24] lunetics commented on #12
Looked good so far for me

[2018-03-12 15:11] prolic commented on #21
@Maikel-Koek fixed in master, thanks for reporting

[2018-03-16 15:20] prolic commented on #21
`data InitialPrice = Float deriving(FromScalar, ToScalar);` - still another problem

[2018-03-18 09:21] prolic commented on #21
@Maikel-Koek I generated your example and got this result:

[code]

looks good to me, what the problem with that? maybe I overlooked something

[2018-03-22 09:25] Maikel-Koek commented on #21
@prolic
When using this field in a command, for example:

[code]

It results in this:
[code]

Shouldn't that `is_float` check be followed by an `is_int` check?

[2018-03-25 07:16] prolic commented on #21
@Maikel-Koek thanks for reporting. Another float check was missing on ScalarDerivings, this is now fixed in master branch.

[2018-03-28 12:39] Maikel-Koek opened #30 "Invalid deriving"
Hi @prolic,

The following code worked before:
[code]

But I just tried to edit our fpp file for some other things, and now the following error shows up:

[code]

Any ideas?

My full stack trace:
[code]

[2018-03-28 12:58] Maikel-Koek commented on #30
This seems to cause the issues:

https://github.com/prolic/fpp/commit/27801f750c17488e4ac71d61519f4bafffc0ab35#diff-a46a12735ff291b0b7d78722b2550cb4R51

This is recently added. May I ask why the namespace isn't allowed anymore (`Status\AwaitingFulfillment`)?

[2018-03-28 13:00] prolic commented on #30
Try this:

`data Status = AwaitingFulfillment | Active | Cancelled deriving(Enum);`

The enum deriving was completely refactored and now support also value mappings (see wiki for examples).

Sorry this change made problems with your code, but that's the way it is using non-stable software :-)

[2018-03-28 13:05] Maikel-Koek commented on #30
Ah yes, that seems to be working, I wasn't sure it would since the classes are in another namespace, but it works.

[2018-03-28 13:05] #30 closed

[2018-03-28 13:06] prolic commented on #30
There are no more subclasses for enum types, you would need to delete them
manually.

On Wed, Mar 28, 2018, 21:05 Maikel <notifications@github.com> wrote:

[2018-03-28 13:10] Maikel-Koek commented on #21
Hm, I now get:
```InvalidArgumentException: Key 'initialPrice' is missing in payload or is not a float in ...```

When the given value is `199.95`, a var_dump shows it's a `double`, even why I typecast the value to `(float) 199.95` when defining it in `InitialPrice::fromScalar()`..

Any ideas?

[2018-03-28 13:18] Maikel-Koek commented on #21
I guess this means `! is_double($value)` needs to be added to the check?

[code]

[2018-03-28 13:24] Maikel-Koek commented on #21
Yes!

[2018-03-28 13:43] Maikel-Koek commented on #21
Come to think of it; shouldn't the conditions be `&&` instead or `||`?

[code]

[2018-03-28 14:05] prolic commented on #21
ups, yes! :) let me fix that

[2018-03-28 14:08] prolic commented on #21
Thanks @Maikel-Koek for reporting the same issue again and again ;)

[2018-03-28 14:18] Maikel-Koek commented on #21
@prolic
Sorry, I think something went wrong..
Now I've got:

[code]

But my guess is it needs to be like this:

[code]
The first check was correct the way it was before. Only the check for `float` needs to be changed.

[2018-03-28 14:25] prolic commented on #21
my bad... wait a sec...

[2018-03-28 14:31] prolic commented on #21
ok, test-case updated as well

[2018-03-28 14:52] Maikel-Koek opened #31 "Wrongly generated Commands with enum types?"
Hi @prolic,

I've just changed my declaration to the new ENUM style:

[code]

But this seems to be causing issues when using in a command.

My .fpp (shortened):

[code]

This results in the following file for `ReachDigital\Subscription\Model\Subscription\Command\CancelSubscription`:

[code]

Which causes issues, because `CancellationReason::fromString()` and `CancellationReason::toString()` are be

[2018-03-28 15:00] prolic commented on #31
No, you're doing it right, I missed to update the fromArray / toArray body generation... give me a few mins...

[2018-03-28 15:03] prolic commented on #31
I just pushed a change into master, can you verify it's working now?

[2018-03-28 15:12] Maikel-Koek commented on #31
[code]
That one is correct now, but the following line is still using `fromString`:
[code]

[2018-03-28 15:21] Maikel-Koek commented on #21
Hm, it seems that this is still not correct for all Commands, although I don't see the difference directly.

[code]

This results in:

[code]

Which is correct, but if you check the `SubmitFormWebsiteScope` command:

[code]

What's the difference here? The conditions in the last command are still using all `&&`s.

[2018-03-28 15:41] prolic commented on #21
The difference is the trailing `?` - making it nullable.

[2018-03-28 15:42] Maikel-Koek commented on #21
Ah I see now, so it is correct, sorry! Thanks.

[2018-03-28 15:45] #31 closed

[2018-03-28 15:45] prolic commented on #31
thanks @Maikel-Koek - fixed in master

[2018-03-28 15:46] prolic commented on #21
No problem, I need to write way more tests to cover those cases.

[2018-03-28 15:47] Maikel-Koek commented on #31
Hi @prolic,
Just updated master, but it's still resulting in:

[code]

[2018-03-28 15:50] prolic commented on #31
@Maikel-Koek that's with commit-hash 92a03a67b4b8327a608eea67b261cfe1952145ea ?

[2018-03-28 15:51] Maikel-Koek commented on #31
Yes!

[2018-03-28 15:53] prolic commented on #31
ok, found it, should be good now

[2018-03-28 15:57] Maikel-Koek commented on #31
Awesome, working now, thanks!

[2018-04-10 17:53] Maikel-Koek opened #32 "Can't create an event with a single field"
When trying to add an event with a single field, like this:

[code]

The following error appears:

[code]

[2018-04-11 10:59] #32 closed

[2018-04-11 11:00] prolic commented on #32
thanks for reporting, it's fixed now and I added another test-case

[2018-04-25 21:31] paales opened #33 "PHP Storm integration path"
The filewatcher command path can be shortened to:
`$ProjectFileDir$/vendor/prolic/fpp/bin/fpp.php $FilePath$`

[2018-04-25 22:06] paales opened #34 "DateTime + DateInterval type"
Might be handy to have DateTime and DateInterval types.

[2018-04-25 22:24] paales opened #35 "ToArray can not be implemented for single array argument"
I am trying to do the following:

[code]

This isn't allowed, because it requires two arugments. ToString, FromString builds but that tries to do a toString() on an array but that doesn't work.

[2018-04-25 22:27] paales commented on #35
I was trying to do the following but that didn't work, so I tried to create an argument first:

[code]

It also doesn't allow the following (requires at least one argument, but does a query need to have an argument?)

[code]

[2018-04-26 08:59] prolic commented on #33
see https://github.com/prolic/fpp/wiki/PhpStorm-Integration

is that good now?

[2018-04-26 09:52] prolic commented on #34
Indeed, didn't had the time to work on it, yet.

[2018-04-26 09:54] prolic commented on #35
Thanks for the bug-report. I'll try to work on it asap.

[2018-04-26 12:18] paales commented on #35
[code]

[2018-04-28 16:10] joshhornby opened #36 "Cannot build argument constructor when deriving Command"
Hi, I believe this could be a bug but also could be a mistake of my behalf.

[code]

Throws the following error `Exception: Cannot build argument constructor for App\Domain\Model\Book%`

[2018-04-29 06:27] prolic commented on #36
Your example is invalid. Unfortunately fpp is not smart enough to tell you exactly what you did wrong, but here is a working example:

[code]

[2018-04-29 06:27] #36 closed

[2018-04-29 06:27] prolic commented on #33
ping @paales

[2018-04-29 06:31] prolic commented on #35
Please note:
`data Projects = Projects { ProjectKey[] $projects } deriving (ToArray, ToString);` - Deriving ToArray & ToString at the same time will not go well in most situations. Especially when the `$projects` is an array of `ProjectKey` - meaning it can never return a string representation successfully.

[2018-04-29 07:02] prolic commented on #35
I am working on a fix for this problem, need to do some refactoring in order to make it work.

[2018-04-29 07:56] joshhornby commented on #36
Thanks for the working example @prolic. Is there any plans to get fpp smart enough to tell a user when they make a mistake like the above?

Feels like a big jump from where I went wrong to your working version with out any helpful error messages.

[2018-04-29 08:45] joshhornby opened #37 "Adding new tactician derivings"
Would you consider a PR which adds new derivings for https://github.com/thephpleague/tactician along side the prooph ones?

[2018-04-29 10:57] paales commented on #33
That seems right :) We might be able to move all the wiki stuff to a docs folder, would be easier for me to suggest things. I can help with that some time if you'd like.

[2018-04-29 10:58] paales commented on #35
data Projects = Projects { ProjectKey[] $projects } deriving (ToArray, ToString); - Deriving ToArray & ToString at the same time will not go well in most situations. Especially when the $projects is an array of ProjectKey - meaning it can never return a string representation successfully.

Oh, that is an error in my example, wasn't in my domain model, thanks for pointing it out.

[2018-04-29 11:57] prolic commented on #33
Sure sounds good. I'll disable the wiki page when finished and link to docs
folder instead.

Hint: you can clone the wiki as starting point

On Sun, Apr 29, 2018, 18:57 Paul Hachmang <notifications@github.com> wrote:

[2018-04-30 11:01] paales opened #40 "data GetProjects = GetProjects deriving(Query) isn't allowed"
The Query deriving shouldn't require an argument, or should it?

[2018-04-30 11:05] prolic commented on #40
That's right, should work without argument. Does it expect one?

On Mon, Apr 30, 2018, 19:01 Paul Hachmang <notifications@github.com> wrote:

[2018-04-30 11:27] paales commented on #35
Comments placed in the PR

[2018-04-30 11:27] #35 closed

[2018-04-30 11:27] paales commented on #40
`PHP Fatal error:  Uncaught Fpp\InvalidDeriving: Invalid deriving on GetProjects, deriving Query expects at least one constructor argument in /Users/paulhachmang/Sites/soft3/src/vendor/prolic/fpp/src/InvalidDeriving.php:76
Stack trace:`

[2018-05-02 10:38] Sevavietl opened #41 "Define named constructors for non-derived entities"
While trying to use this great library, I find out that it is really problematic to use custom entities in the payload, because there is no mechanism to deduce the proper named constructor.

For example, I use [marc-mabe/php-enum](https://github.com/marc-mabe/php-enum) for enums. It has `byValue($value)`, that can be used for constructing from inside `AggregateChanged` or `Command`.  I think it wo

[2018-05-02 11:12] prolic commented on #41
This would need multiple places, like maybe you need to add
toString/fromString/toArray/fromArray capabilities. It's not that an easy
task. For some objects you may be able to configure some methods to use for
that, for others you may need additional params or even reflection. So if
you only have a particular use case (like mabe-enum), it may be easier to
configure another enun template and overri

[2018-05-02 11:26] prolic commented on #41
True. I didn't have the time to work on something like this yet. That said,
if you have time to contribute, it would be more then welcomed.

On Wed, May 2, 2018, 19:19 Sevavietl <notifications@github.com> wrote:

[2018-05-02 11:28] Sevavietl commented on #41
I will try to come up with something.

[2018-05-06 07:51] #40 closed

[2018-05-06 07:51] #33 closed

[2018-05-09 07:00] Maikel-Koek opened #42 "Array of objects in command"
Hi @prolic,

We'd like to use an array of objects as data in a command, but it seems that's not possible now, or we're doing something wrong.

We've got this object created:

[code]

And we try to use an array of `TermPrice`'s in our command:

[code]

But this results in the following in our `SubmitFormGlobalScope` class:

[code]

The result of `termPrices()` is not an array, this method should pr

[2018-05-09 08:44] Maikel-Koek commented on #21
@prolic;
Another case discovered:

When defining a class like this:

[code]

This results in a file like this:

[code]

The `float` check is wrong there:
`if (! isset($data['price']) || ! is_float($data['price']) || ! is_int($data['price'])) {`
Should be:
`if (! isset($data['price']) || (! is_float($data['price']) && ! is_int($data['price']))) {`

Could you fix this?

Thanks!

[2018-05-09 08:54] Maikel-Koek commented on #42
The same goes for these methods (`termPrices` and `with`) in our event class, `FormWasSubmittedInGlobalScope`:

[code]

[2018-05-09 11:48] Maikel-Koek commented on #42
It probably needs to look something like this?

[code]

And for our event:
[code]

[2018-05-14 09:32] Maikel-Koek commented on #42
Hi @prolic, not to be rude, but when do you think you will start working on this issues?

[2018-05-14 12:27] prolic commented on #21
fixed in master

[2018-05-14 12:27] #21 closed

[2018-05-14 12:32] prolic commented on #42
Just checked with current master branch and I generated this:

[code]

which looks good for me, maybe I am missing something?

[2018-05-14 12:34] Maikel-Koek commented on #42
That does look good indeed, I'll try and check if I'm fully up-to-date, will let you know.

[2018-05-14 13:57] prolic commented on #41
Working on it now...

[2018-05-14 13:58] prolic commented on #34
Working on it now... see also https://github.com/prolic/fpp/issues/41

[2018-05-14 13:58] Maikel-Koek commented on #42
My bad, it's working, I was on 637ffc3a684414c2fb303b751316d3925ba6af28!

[2018-05-14 13:58] #42 closed

[2018-05-14 14:00] prolic commented on #42
:+1:

[2018-05-15 07:52] Maikel-Koek opened #43 ""An argument cannot be a list and nullable at the same time""
In addition to #42;

Why isn't this possible?

[code]

When making `TermPrice[]` mandatory (removing the question mark), all works fine, but I want to be able to make `$termPrices` `null`.

[2018-05-15 11:40] Maikel-Koek opened #44 "Changed generation of non-mandatory command fields"
My .fpp file contains the following:
[code]

This generates:
[code]

This can throw the following exception:

I just recently updated the repo to generate the files, before I was on 637ffc3a684414c2fb303b751316d3925ba6af28 and there this same .fpp content generated:
[code]

This worked fine! What changed?

[2018-05-15 12:35] Maikel-Koek commented on #43
Can be fixed by changing this:

[code]

Into this:

[code]

[2018-05-15 13:18] prolic commented on #44
Actually you shouldn't encounter this issue, because the payload is validated in the setPayload method.

[2018-05-15 14:12] prolic commented on #42
see list_nullable branch/ PR

[2018-05-15 14:30] paales opened #46 "fromString doesn't actually instantiate the field type"
[code]

I expect something like this:

[code]

It actually generates:

[code]

[2018-05-15 14:48] prolic commented on #46
Actually this doesn't work at the moment. I leave this ticket open as new feature request. As for now, you can only generate fromString for objects that represent string, not for objects that represent objects that represent string. Use toArray instead.

[2018-05-15 15:19] paales commented on #46
Ahh, well if toArray and fromArray work, thats fine for now.

[2018-05-16 13:01] joshhornby commented on #37
Hi @prolic Thinking about this again, I don't see any real need for it as Tactician classes are just plain classes anyway.

[2018-05-16 13:01] #37 closed

[2018-05-16 14:37] #43 closed

[2018-05-16 14:37] #44 closed

[2018-05-16 14:37] #46 closed

[2018-05-17 09:01] paales opened #47 "Multiple optional list array types in object break"
[code]

Second one doesn't have the correct if-statement

[2018-05-17 09:19] paales commented on #47
It inserts toArray instead of toString (`deriving(Uuid)`).

[code]

[2018-05-17 16:33] prolic commented on #47
Cannot reproduce, I tried this fpp code:
[code]

Can you send me yours?

[2018-05-17 16:34] paales commented on #47
Will try to provide a better example.

[2018-05-25 14:12] prolic opened #48 "Allow conditions for scalar constructors"

[2018-05-25 14:14] prolic opened #49 "Allow definitions without specifiying constructor"
f.e.
`data Person = { string $name, int $age }` as shortcut for `data Person = Person { string $name, int $age }`

/cc @codeliner

[2018-05-25 14:15] prolic opened #50 "Add MinLength(x) deriving"
Note: This deriving requires an argument

/cc @codeliner

[2018-05-25 14:28] prolic opened #51 "Add JsonSchema deriving"
generates json and writes somewhere

example output: https://app.swaggerhub.com/apis/camuthig/event_machine/1.0.0

/cc @codeliner

[2018-06-05 13:52] gquemener commented on #50
The list of available deriving constraints could be inspired from the constraints provided in the [Symfony validator package](https://github.com/symfony/validator/tree/master/Constraints).

[2018-06-05 15:38] codeliner commented on #50
that chat message is better placed here:

[2018-06-05 15:40] codeliner commented on #50
so maybe we should close the issue?

Better support for custom derivings with arguments would still be a nice thing to have, though.

[2018-06-05 15:41] codeliner commented on #51
Related discussion: https://github.com/prolic/fpp/issues/50#issuecomment-394757450

So maybe this issue can be closed.

[2018-06-05 15:45] codeliner commented on #26
hard to solve but :+1:

A file called `fpp.lock` in project root sounds not that bad ;)
People are used to such files.

[2018-06-05 16:30] prolic commented on #50
Still a little undecided, I let it open for now and handle it once I come back to it.

[2018-06-05 16:35] prolic commented on #50
The difference really is this:
[code]

VS:
[code]

The latter is a little more to write, but let's you specify the error message

[2018-06-05 17:00] gquemener commented on #50
Or

[code]

:tada:

[2018-06-05 17:04] prolic opened #55 "add exception type"
see comment https://github.com/prolic/fpp/issues/50#issuecomment-394785156

[2018-06-05 19:47] codeliner opened #56 "FPP File Watcher config for docker"
Program: `docker`
Argument: `run --rm -i -v $ProjectFileDir$:/app -u 1000 -w /app prooph/php:7.1-cli php vendor/prolic/fpp/bin/fpp.php $FileDirRelativeToProjectRoot$/$FileName$`

Note: docker run argument `-u 1000` might be adjusted according to UID of the user who should own the generated files.

[2018-06-05 20:48] codeliner opened #57 "use/import support"
Hi,
first of all, many thanks for this great library. Expect some PR's in near future from me. ;)

I have this in a `types.fpp`

[code]

FPP does an awesome job already. However, it would be nice to import definitions from other namespaces like it is possible in plain PHP or JavaScript (which might be easier to implement and would allow support for multiple FPP files)

## PHP use statement:

[code

[2018-06-05 21:14] prolic commented on #57
you kidding me? :+1:

[2018-06-05 22:11] codeliner commented on #57
just a lovely nostal insider, saying exactly what I wanted to say ;)

[2018-06-06 14:42] codeliner commented on #57
@prolic any preferences?

My favorite is JS import because supporting multiple FPP files helps to keep things organized.

[2018-06-06 14:47] prolic commented on #57
I'm not sure, using PHP imports has the benefit, that you can refactor easily and move stuff around, while with JS import you have to change all definitions, if you move a FPP definition to another file.
Also:  `import {BuildingId, User} from '../model';` - what if two BuildingId's are stored within the model.fpp file with different namespaces, which one to chose?

[2018-06-06 14:56] prolic commented on #57
/cc @paales @Maikel-Koek @jeromegamez @Lctrs

[2018-06-06 14:57] #47 closed

[2018-06-06 14:58] prolic commented on #47
closed because no feedback given for a while. Feel free to reopen if you can provide an example.

[2018-06-06 15:23] codeliner commented on #57
Ok, this could work but FPP needs to scan all files on each run to know which namespaces and definitions are available.

PHP namespaces are mapped to a folder structure but FPP is not (at the moment). So FPP cannot locate the file that contains a definition imported by a use statement.

Also I see FPP files more like JS ES6 module files and not like typical PHP files (containing one class per file

[2018-06-06 15:26] prolic commented on #57
Another argument against JS imports: FPP doesn't track from which file it read the definitions. After parsing all definitions are stored in the DefinitionCollection, so matter where they come from.

[2018-06-06 15:48] paales commented on #47
Oh yeah, didn't have time to spend on the project. Will open a new issue when I encounter it again.

[2018-06-06 17:38] codeliner commented on #57
I'm using [this config](https://github.com/prolic/fpp/issues/56) to let PHPStorm run FPP whenever I change a FPP file: (like documented in the wiki but using docker)

In that case FPP only handles current file. Ok, I could modify the command so that FPP scans the entire project dir over and over again no matter what file has changed. Doing this would ensure that all definitions are in the Definiti

[2018-06-07 09:37] prolic commented on #56
I use this here (see wiki):
`$ProjectFileDir$/vendor/prolic/fpp/bin/fpp.php $FilePath$`

This however assumes that all fpp files are in one directory (no subdirs).
Benefit is: all fpp files are parsed (not just one), so we have all dependencies loaded.

[2018-06-07 09:39] prolic commented on #57
I think option 2 is good (and we can use JS imports then). Wanna provide a PR?

I wouldn't bother about even better PHPStorm integration (incl. refactoring feature) too much for now. I don't know how to write those plugins and the company probably won't provide a plugin for it by themselves any time soon.

[2018-06-07 09:49] gquemener opened #59 "Add a marker keyword"
[code]

generates

[code]

[2018-06-08 17:51] codeliner commented on #57
Good news. Yes, I'd like to tackle the issue. But need a time slot for it. Maybe I can start working on it next week.

[2018-06-08 18:07] prolic commented on #57
How does it work with fpp.lock file for deletion of removed objects? Seems
like a problem to me, when we don't parse all the fpp files.

On Sat, Jun 9, 2018, 01:51 Alexander Miertsch <notifications@github.com>
wrote:

[2018-06-08 19:37] codeliner commented on #57
fpp.lock could contain a map of `File => OutputObject[]`

When a file is changed, fpp checks the map and compares is with current objects defined in the file.

The only real problem is how we can detect deletion of an entire fpp file?
But that's a problem of the full scan approach as well, because I think that PHPStorm does not trigger the file watcher in case a file is deleted.
So even in that sc

[2018-06-08 19:44] prolic commented on #57
Maybe this can help?
https://github.com/jasonlewis/resource-watcher/blob/master/README.md

On Sat, Jun 9, 2018, 03:37 Alexander Miertsch <notifications@github.com>
wrote:

[2018-06-08 20:31] codeliner commented on #57
Not sure about performance impact. Readme says that it uses a polling strategy to detect changes. That might work well for a single directory but recursively scanning project `src` every second? Could become a problem in larger projects.

A convention that all fpp files should be located somewhere outside of `src` could work but as I said earlier: IMHO such a convention is a bad idea. My structuri

[2018-06-08 20:42] prolic commented on #57
https://github.com/emcrisostomo/fswatch/blob/master/README.md then?

[2018-06-08 20:45] codeliner commented on #57
damn, there is another issue:

[code]

If `BuildingId` is changed or removed, fpp needs to parse `messages.fpp` again. `fpp.lock` can contain a second mapping, though.

[2018-06-08 21:02] prolic commented on #57
Maybe it's still best to parse all fpp files at once (hence php imports,
not js). I would recommend to collect them in an fpp dir (outside src), to
avoid performance problems. Solves a lot of issues.

On Sat, Jun 9, 2018, 04:45 Alexander Miertsch <notifications@github.com>
wrote:

[2018-06-08 21:04] codeliner commented on #57
looks like a really good lib @prolic

But IMHO [installation](https://github.com/emcrisostomo/fswatch/blob/master/README.md#installation) is a problem. At the moment fpp requires nothing but standard PHP and maybe setting up PHPStorm for smooth development integration.

Using fswatch would require a complex installation (depending on OS) and that's a killer for adoption.
For me it wouldn't be a pr

[2018-06-08 21:06] prolic commented on #57
Maybe we can copy the binaries needed, so everything comes shipped at once.

Also if all fpp files are together (outside src) then polling ain't such a
big issue.

On Sat, Jun 9, 2018, 05:04 Alexander Miertsch <notifications@github.com>
wrote:

[2018-06-08 22:16] codeliner commented on #57
OK, what about this? :

We go for PHP use statements and scan all files on each run (If this gets to slow for large projects we might optimize it later with clever indexing and change detection).

FPP keeps a list of scanned files in `fpp.lock`.

We have two ways to invoke FPP:

## Invoke with dir path

FPP compares all files in the dir with the list of known fpp files in `fpp.lock` of same direct

[2018-06-09 10:06] prolic commented on #57
PHPStorm comes already with a file watcher. Have you tried putting the fpp files into src dir somewhere? If so, is it really a performance problem to scan the src-dir every time? Maybe that's not a real problem at all (at least with a SSD).

[2018-06-09 17:28] codeliner commented on #57
What's the problem with my suggestion? There is no need to scan the entire project directory if fpp maintains a cache like described in my last comment. No convention for file location needed. So I thought everything is fine now. FPP can of course be invoked using PHPStorm's file watcher. I don't suggest anything different here.

[2018-06-09 18:05] prolic commented on #57
Sounds good, go for it.

I was just curious if performance of scanning src dir for fpp files is really bad or if this was just an assumption.

[2018-06-09 20:54] codeliner commented on #57
ah ok. Yeah, it is an assumption. I just played around with FPP so project is very small.

What I can tell is that the [message flow analyzer](https://github.com/prooph/message-flow-analyzer) needs some time to recursively scan a large project. But it touches every file and parses nearly every class. So a lot of performance is lost in processing logic.
Another observation is TypeScript + webpack r

[2018-06-09 21:44] prolic commented on #57
As a short test I scanned my complete home-dir on the notebook. About 58GB of data, took 13 secs to scan.

[2018-06-11 16:36] gquemener commented on #27
Parsing the following fpp:
[code]
will populate `$tokens` with:
[code]

which indeed show that first line contains `<?php` offseting all other lines by 1.

This `<?php` token is added while calling the `\token_get_all` function.

[2018-06-11 16:37] gquemener commented on #27
Ok I see you've already fixed this offset.

[2018-06-12 09:35] lunetics opened #64 "Using php keywords breaks fpp"
E.g. when you want to use php keywords like "new" or "class" breaks fpp:

e.g.
[code]
results in:
[code]

[2018-06-13 10:42] gquemener opened #65 "Impossible to use existing marker on marker"
# Scenario

Given the following "domain.fpp":
[code]
and the following existing marker:
[code]
When I run the fpp command
Then the "src/Person.php" file should contain:
[code]

# Result

This scenario fails with the following error:
[code]

# Fix
Switch the autoloader flag to true [on this `interface_exists` function call](https://github.com/prolic/fpp/blob/2bfadfb1c67ca875bb3d9757a105c52fc6f82efa

[2018-06-13 10:42] gquemener opened #66 "Impossible to use existing marker on data"
# Scenario

Given the following "domain.fpp":
[code]
and the following existing marker:
[code]
When I run the fpp command
Then the "src/Person.php" file should contain:
[code]

# Result

This scenario fails with the following error:
[code]

# Fix
Switch the autoloader flag to true [on this `interface_exists` function call](https://github.com/prolic/fpp/blob/2bfadfb1c67ca875bb3d9757a105c52fc6f82efa

[2018-06-13 10:47] #59 closed

[2018-06-13 11:34] prolic commented on #66
Pr please

[2018-06-13 11:34] prolic commented on #65
Duplicate of #66

[2018-06-13 16:05] gquemener commented on #65
Well, technically it was not a duplicate. One was related to marking data (#66), while this one is related to extending marker.

I'm working on a fix.

[2018-06-13 16:06] gquemener commented on #66
When I have time!

[2018-06-13 16:30] #65 closed

[2018-06-13 16:30] #66 closed

[2018-06-15 07:21] gquemener opened #68 "Incompatibility between the Equals and the Enum derivings"
When defining the following fpp:

[code]

The following files will be generated:

[code]

[code]

As we can see in the method `MyData::equals`, there's a call on the method `toString` of `MyEnum` which does not exist.
The enum class has a `__toString` method though.

So I guess it would make sense to support `Equals` deriving along with `Enum` by adding a `toString` method to the enums, or to chan

[2018-06-15 16:09] cwoskoski opened #69 "Wrong var_export used for enums with value mappings"
https://github.com/prolic/fpp/blob/8d0a37fcccc5721126af159c11d076e3c8a944f8/src/builder/buildEnumConsts.php#L42

[2018-06-15 16:22] prolic commented on #69
Can you provide a failing test case and then a fix?

[2018-06-15 18:18] cwoskoski commented on #69
Here's the test case:

[code]
`it_builds_enum_consts_with_value_mappings` fails with _TypeError : var_export() expects parameter 2 to be boolean, string given_

[2018-06-15 19:01] #69 closed

[2018-06-16 11:05] gquemener commented on #68
Ah ah, I think I've just been RTFMed, well done :rofl:  :+1:

Let me see what I can do for the dumper then :smiley:

[2018-06-16 11:59] #68 closed

[2018-06-16 12:27] #27 closed

[2018-06-20 15:56] lunetics opened #72 "Equals on compound VO"
Assume following .fpp config

[code]
results in following *equals* method:
[code]

unfortunately, toString is not implemented in the enum channel or businessrelationship

[2018-06-20 16:03] lunetics commented on #72
Also it's not possible to deriving Equals / ToString / FromString in an Enum.
Fix could be
* either compare $enum->name() === $otherEnum->name()
* make "Equals" deriving possible with Enums and use the Equals method in the compound VO?

What do you think?

[2018-06-20 16:38] prolic commented on #72
Are you using latest master? I remember there was a bugfix for this issue some days ago. Enums should use name() method instead of toSring().

[2018-06-20 16:38] prolic commented on #72
but maybe this issue is in more then one place in the code base, if so, wanna provide a test-case and fix?

[2018-06-27 12:01] lunetics commented on #72
Fixed in latest master

[2018-06-27 12:01] #72 closed

[2018-06-27 12:07] lunetics opened #73 "Code Formatting Issue FromArray -> Int"
this .fpp:
[code]
results in incorrect formatting: (CartItem)
![auswahl_004](https://user-images.githubusercontent.com/149752/41972837-60804a44-7a13-11e8-89c5-3142f2d7a1c0.png)

[2018-06-28 13:41] prolic commented on #73
@lunetics the provided fpp snippet is not complete. There is no usage of `CartItemPrice::fromArray` anywhere.

[2018-06-28 13:43] prolic commented on #55
@gquemener Still on it?

[2018-06-28 13:45] gquemener commented on #55
Not much time lately, unfortunately (I've started a job 2 weeks ago).

Can't promise anything :)

[2018-06-29 09:29] gquemener commented on #55
If
[code]

generates
[code]

How do we define marker on an exception ?

I'm asking this because
[code]
might be hard to implement (we'd need extra effort to differentiate parent exception class from marker interface).
WDYT @prolic ?

[2018-06-29 09:39] gquemener commented on #55
Reading [your original comment](https://github.com/prolic/fpp/pull/58#issuecomment-395097868),

[code]

is the way you recommend.

[2018-07-03 09:02] prolic commented on #73
ping @lunetics

[2018-07-03 09:03] prolic commented on #64
ping @lunetics

[2018-07-16 10:31] gquemener commented on #55
Regarding my previous message, I think it would be better to use a deriving to describe exception.

It would allow to separate the parent exception definition from the marker definition, thus easing the parsing process.
Furthermore, the current parser is not open for extension, so I think we should use the current extension mecanism (which is the derivings).
Finally, Haskell, on which the fpp synt

[2018-07-16 16:21] prolic commented on #55
Sorry, quite busy these days with coding... I'll try to check this proposal ASAP (maybe tomorrow).

[2018-07-16 16:31] #73 closed

[2018-07-16 16:32] prolic commented on #73
Fixed! Sorry it took me a few days to have time for this.

[2018-07-16 16:32] prolic commented on #64
I close this, if you still feel that there is something I should do about it, please reopen and leave your arguments.

[2018-07-16 16:32] #64 closed

[2018-07-18 15:31] lunetics opened #76 "Depth Limitation?"
Assuming following fpp:

[code]
I get the following exception:
[code]

[2018-07-18 15:56] gquemener commented on #56
I use `--user "$(id -u):$(id -g)" to always use current uid and gid (thus creating the files with the good owner)

[2018-07-18 16:39] gquemener commented on #76
The problem comes from some builders who don't check if the definition derives from the expected deriving ([here's an example of such check](https://github.com/prolic/fpp/blob/master/src/builder/buildToArrayBody.php#L29-L34)).

I was able to reduce a failing example to:
[code]
which fails with the following message:
[code]

Even if App\Bar is not deriving FromScalar.
I've detected the same problem

[2018-07-18 16:47] gquemener commented on #76
Updating the previous example with the missing deriving (as stated by the error message) like so:
[code]

generates the following classes:
[code]
[code]

I fail to see the reason why enforcing `Foo` to derive `FromScalar`, as `Foo::fromScalar` is not used within `Bar` :thinking:

[2018-07-20 09:02] lunetics commented on #76
I fail to see why it tries to execute the buildFromScalarBody on the compoundobject, only to/fromarray possible there (by logic?)

[2018-07-20 09:27] lunetics opened #78 "Only using FromScalar breaks equals"
When using this snipped:
[code]
the Result is:
[code]
and
[code]
1: It only checks for the class (Because of no "ToScalar" on `Foo`
2: Will return wrong type / exception  if it is the same class (bool return type)

[2018-07-20 10:00] gquemener commented on #76
`Foo` derives nothing (in [this example](https://github.com/prolic/fpp/issues/76#issuecomment-405996668)), so why should it execute the to/fromarray body builders?

[2018-07-20 10:10] #29 closed

[2018-07-20 10:38] #78 closed

[2018-08-01 01:42] vroad opened #80 "Variable number of arguments are used in the constructor only when a data type contains single array only, but not when a data type contains 2 or more field"
Sample fpp:
[code]

This generates a PHP class that takes variable number of string arguments. `fromArray()` method won't work in this case because it just passes array without PHP's `...$array` syntax.

[code]

If data type in the fpp contains 2 fields or more, it just uses arrays. Why not use arrays in all cases? Probably to make arrays strong typed?

[code]

[code]

I consider this behavior to

[2018-08-04 15:14] prolic commented on #80
Yes there's something we can do in order to improve it. Currently I don't have enough time for this, well get to it as soon as I can.

[2018-08-06 05:23] vroad opened #81 "fromArray throws "undefined variable" error with empty arrays"
This issue ocuurs with the same fpf code as https://github.com/prolic/fpp/issues/80 .
If input array is empty, generated code does not assign any value to `samplePictures` because the code inside `foreach` is never executed (and arrays is not initialized before `foreach`), hence results in an error.

`Notice: Undefined variable: samplePictures`

[code]

[code]

[2018-08-06 15:33] prolic commented on #81
I'm really busy right now, I hope to get to this upcoming weekend. Feel free to provide a PR, if you can.

[2018-08-09 10:03] lunetics opened #82 "deriving Equals() uses class comparison on `final` classes"
Imho, this part could be omitted when using the "final" statement on classes / VO's

[code]

[2018-08-09 14:42] prolic commented on #82
I know, and next week someone complains there are final and cannot be extended... :) You can't satisfy all.

[2018-08-09 14:58] lunetics commented on #82
Ist there a manual possibility to mark classes non-final?

Sascha-Oliver Prolic <notifications@github.com> schrieb am Do., 9. Aug.
2018, 16:42:

[2018-08-15 08:47] prolic opened #83 "Add default values"
like this:

data Foo = Foo { string $name, bool $enabled = true };

[2018-08-15 11:03] #83 closed

[2018-08-15 11:41] #76 closed

[2018-08-19 22:59] prolic commented on #82
Will do when I have time, feel free to submit a PR.

[2018-08-25 13:32] #81 closed

[2018-10-12 10:41] ronnyhartenstein opened #90 "Arrays in constructor raise errors on withMyArrayValue if the array is empty"
[code]

creates

[code]

What is missed in `__construct`:

[code]

[2018-10-16 09:56] lunetics opened #92 "Is it intentional that the enum value has no return type?"
https://github.com/prolic/fpp/blob/5c46f6a22e8fff861d510198810153f4977b57cb/src/templates/enum.template#L48

[2018-10-16 11:58] prolic commented on #92
Yes, the value can be a string, int, bool, null, so it's mixed.

[2018-10-16 11:58] #92 closed

[2018-10-18 11:43] SimonPrins opened #93 "Error in function buildMethodBodyFromAggregateId incorrectly suggests fromArray could solve problem."
The following error message https://github.com/prolic/fpp/blob/master/src/helpers.php#L432 suggests that it can be fixed by having the property in question derive fromArray, however, the function buildMethodBodyFromAggregateId, unlike buildMethodBodyFromPayload does not allow properties that derive fromArray.

I would also suggest making it clear in the error message that the AggregateId is a spec

[2018-10-18 15:57] prolic commented on #93
Do you have a usecase for an array as aggregate id? Sounds weird to me.

On Thu, Oct 18, 2018, 19:43 SimonPrins <notifications@github.com> wrote:

[2018-10-19 11:29] #93 closed

[2018-10-22 05:02] darrylhein opened #95 "Help cleaning up docs?"
Would you be interested in some help cleaning up the docs, mainly formatting?

[2018-10-22 16:30] prolic commented on #95
Sure, why not. Thanks

On Mon, Oct 22, 2018, 13:12 Darryl Hein <notifications@github.com> wrote:

[2018-10-22 19:46] paales opened #96 "Add phpdoc for array return type"
[code]

If you generate this the Commission->commission() will be:

[code]

It would be nice if it could be (then PHPStorm understand what we are doing):

[code]

[2018-10-22 20:25] paales opened #97 "Blocks on protected keywords protection where it doesn't make sense."
[code]

This gives an error because the `New` keyword is in there, but in my opinion this should be allowed.

Also (as in singular of 'returns'):

[code]

[code]

[2018-10-22 21:34] prolic commented on #96
wanna provide a PR?

[2018-10-22 21:35] prolic commented on #97
wanna provide a PR? hint: problem is the parser logic, it expects a T_STRING but receives a keyword instead, so you just have to allow this as well. should be simple to fix.

[2018-10-24 18:09] darrylhein commented on #95
I'll keep helping out as I find stuff and have time.

[2018-10-24 18:09] #95 closed

[2018-10-24 19:50] paales commented on #96
Having Return in the namespace is just illegal in PHP so that's out..

[2018-10-24 19:50] #96 closed

[2018-10-24 22:45] paales opened #100 "When making a FromArray deriving shouldn't an enum use fromValue instead of fromName?"
Code generated is:

[code]

It would make sense in my mind that the value of a payload should use the actual enum value instead of the name of the enum?

[2018-10-25 19:32] paales commented on #100
Let me try to explain. In my case I'm not using the types to use it in the prooph event store. I'm getting a payload from an external service (calling something over rest) and want to return a type based on the response:

[code]

I get the actual 'ugly' enum value from the remote system, and want to be able to set the value. Would be nice if I wouldn't have to reformat the response before putting

[2018-10-25 19:39] paales commented on #100
Oh I see what the system does when there isn't a `while` construct, it just gives all the values an integer number..

[2018-10-25 19:59] prolic commented on #100
Sorry what? Which while construct?

I understand that you have a use case where you want fromArray / toArray to use enum values and not enum names. However I am not willing to change this behavior, as I have the other use case more often.

But... There is a solution for both of us:

`Foo deriving (Enum(useValue))`

There is an open ticket to allow to pass options to derivings, but that's not an ea

[2018-10-26 08:35] paales commented on #100
I can't type, was a little bit late: I meant the Enum `with(FIELD='bla')` construct.

As for the changes to the parser logic, might be interesting, I'll have to see if I can figure that out.

[2018-10-26 10:09] #90 closed

[2018-10-30 20:34] paales commented on #97
This is impossible to fix, the parser chokes on it, but if I fix it the generated classes are invalid as well :)

[2018-10-30 20:34] #97 closed

[2018-10-30 23:19] paales commented on #100
Got something working! https://github.com/paales/fpp/pull/2

Will create a PR when i've got the code sniffer thing set up locally.

[2018-11-09 13:57] MassiAtHG opened #103 "FromArray deriving issue when field type is array of objects"
The following definition:
[code]
generates class code with function 'fromArray' containing checks of \is_HGEntity\VO\Generic\Phone or \is_HGEntity\VO\Generic\EmailAddress as follow:
[code]
Of course code errors on such ```\is_<class>``` checks.

[2018-11-09 14:38] prolic opened #104 "Remove is_a"
@gquemener There must be something wrong! check http://php.net/is_a. It clearly states: "5.0.0 | This function became deprecated in favour of the instanceof operator. Calling this function will result in an E_STRICT warning."

[2018-11-10 08:19] prolic commented on #103
@MassiAtHG Cannot reproduce on latest master.

[2018-11-12 10:20] MassiAtHG commented on #103
Removed 'vendor' folder and then run 'composer update' on "prolic/fpp": "dev-master".
It did checkout the following reference:
[code]
The problem still persist.
[code]

[2018-11-12 14:37] prolic commented on #103
okay, can you send me the other definitions as well? you only posted `User`.

[2018-11-12 14:38] prolic commented on #103
If you prefer, you can send this also via email

[2018-11-12 14:41] #104 closed

[2018-11-12 14:45] MassiAtHG commented on #103
Attached are the definitions for the entities.
[fpp-defs.zip](https://github.com/prolic/fpp/files/2572300/fpp-defs.zip)

[2018-11-12 14:46] MassiAtHG commented on #103
Of course, composer.json has the PSR4 autoloading directive set up as follow:
"autoload": {
        "psr-4": {
            "HGEntity\\": "HGEntity/"
        }
    }

[2018-11-12 14:50] prolic commented on #103
Ok I try to check when I have a little time :)
Sascha-Oliver Prolic

Am Mo., 12. Nov. 2018 um 22:46 Uhr schrieb MassiAtHG <
notifications@github.com>:

[2018-11-12 17:48] prolic opened #107 "Missing docblock"
See build constructor test. The docblock for the exception is missing, that's why this test passes.

[2018-11-12 17:49] prolic commented on #107
/cc @gquemener

[2018-11-12 17:49] #55 closed

[2018-11-13 05:11] #107 closed

[2018-12-10 11:07] JeroenVanLeusden opened #109 "Wrong ternary operator in buildToArrayBody"
Using the following `Domain.fpp` will generate the error `Fatal error: Uncaught Error: Call to a member function toScalar() on null`.

[code]

The generated `toArray()`:
[code]

Where I believe it should be:
[code]

[2018-12-10 11:12] prolic commented on #109
Can you provide a failing unit tests and then a fix?

[2018-12-10 12:16] JeroenVanLeusden commented on #109
Not right now, maybe by end of this week.

[2018-12-29 15:02] prolic commented on #109
ping @JeroenVanLeusden

[2018-12-29 22:03] enumag opened #110 "Is the output configurable?"
My immutable objects look quite a bit different than yours and I'd like to keep them that way.

For your example class:

[code]

My equivalent would be:

[code]

The trait makes the object immutable. I'm not concerened about type-safety because I'll switch to PHP 7.4 when it's available.

As you can see it's slightly different though ultimately serves the same purpose. Is it possible to configure

[2018-12-29 22:05] prolic commented on #110
Yes, copy and paste the fpp.php and override the builders and/or templates
you want to.

On Sun, Dec 30, 2018, 06:03 Jáchym Toušek <notifications@github.com wrote:

[2018-12-29 22:17] enumag commented on #110
Ok, thank you!

[2018-12-29 22:17] #110 closed

[2019-01-03 16:17] JeroenVanLeusden commented on #109
Sorry I didn't had time yet to look into it.

[2019-01-07 10:56] MassiAtHG commented on #103
Since you reopened it, I tried to see if I could come up with an idea for a fix. I am not sure I am covering all the possible options properly.
The resulting code I see in my test project seems OK though (attached).
[fpp-bug-test.zip](https://github.com/prolic/fpp/files/2732449/fpp-bug-test.zip)

[2019-01-07 14:31] MassiAtHG commented on #103
I have changed the logic of the solution in the latest commit, to be more similar to the code you wrote.
The amendment from the original code are done only on 'fromArray' builder for lists deriving from string. There may be the need to look also into the rest of the options (type and derivings) for all lists definitions. Tests are fine.

[2019-01-09 11:17] MassiAtHG commented on #103
Found the cause of the issue, due to my deriving definitions that would not have 'FromString' or 'FromArray' (but only 'ToString' or 'ToArray') for entities on which other entities depend from. With that addition the builder (i.e. buildFromArrayBody ) can enter the correct 'switch' deriving  option.

I believe the issue can be closed, sorry if I caused you waste of time and energy.
Personally I im

[2019-01-14 13:51] hoffigk opened #112 "Add existing interfaces"
Hi.

This is mainly a question. I need to implement an existing interface on an generated class.

Foo.fpp looks like this:
[code]

The generated code is:
[code]
What i need:

[code]

In my case i need to send the FooCommand async with the prooph service bus. If i understood it correctly, i have to enable the async_switch and implementing the interface `\Prooph\ServiceBus\Async\AsyncMessage`

How c

[2019-03-15 14:16] prolic commented on #109
Cannot reproduce, your example works on master branch.

[2019-03-15 14:16] #109 closed

[2019-03-15 14:21] prolic commented on #100
resolved via https://github.com/prolic/fpp/pull/106

[2019-03-15 14:21] #100 closed

[2019-03-15 15:09] prolic commented on #112
Reusing interfaces or classes in FPP that are not generated by PHP but are defined somewhere in your code or in PHP core is currently not supported.

I'll get to that when I have some time.

[2019-03-15 15:09] #112 closed

[2019-03-19 12:57] #103 closed

[2019-03-28 03:02] simensen opened #115 "Referring to classes that otherwise exist but not generated does not appear to work"
I had a file that looked like this:

[code]

However, this gave me an error because `\App\Model\Account\AccountId` was not defined, even though that class actually exists on disk. While I suppose this makes sense to a certain degree, it was definitely not expected. Did I do something wrong or is this what should be happening?

[2019-03-28 03:04] simensen commented on #115
I guess said another way, for classes/types specified in a specific `.fpp`, can you only reference other classes/types defined in that exact same `.fpp` file?

[2019-03-28 14:53] simensen commented on #115
The use case would be something like this, where PostTodo from the Todo model references UserId from the User model:

https://github.com/prooph/proophessor-do-symfony/blob/master/src/ProophessorDo/Model/Todo/Command/PostTodo.php

The main problem (I think?) is I tried to separate my `.fpp` files by model to make them a little easier to manage:

[code]

However, `Form` and `Subscription` are both g

[2019-03-28 15:26] simensen commented on #57
@codeliner Are you still working on this?

I'm splitting off part of my experience reported in #115 to here as it looks like part of what I'd like to discuss seems to have been discussed here.

Not being able to alias or `use` class names means that even within the same `.fpp` file things get quite hard to read. For a real world example, the following is one of the files I created last night and i

[2019-03-28 16:09] simensen opened #117 "What is the best way to handle value objects that need customization? (additional methods, etc)"
I often run into cases where value objects have additional behavior than just providing access to the data they store. They may also have several ways of being created (#41). Is there a way to handle value objects that need customization beyond just generating them once and then removing them from `.fpp` so the customization won't be clobbered?

[2019-03-28 16:49] prolic commented on #115
You can give fpp a directory to scan for *.fpp files. It doesn't make a difference in which file your definition is, you can reference a class existing in one file within another one, but during the generation process all files must be present (hence the use of directory as argument).

As of now, you cannot reuse PHP's classes (like DateTimeImmutable) or your own custom ones. This may change in th

[2019-03-28 16:49] #115 closed

[2019-03-28 16:51] prolic commented on #57
@simensen I'm acutally okay with any solution, as long as it's not adding too much boilerplate again (the reason this lib exists is to reduce boilerplate). If you want to work on this to improve, you're welcome, I currently don't have enough time and event-store-client has higher priority to me at the moment.

[2019-03-28 16:53] prolic commented on #117
Currently it's not possible, maybe at some point in the future. If you want to work on that, feel free to add this feature. But if so, let me know upfront, so we can discuss some details before you get started.

[2019-03-28 18:04] codeliner commented on #57
@simensen never found the time to work on this. TBH FPP is a great idea but it is too difficult to customize. We are using value objects quite heavily and let them even handle parts of the business logic. Hence, I've searches for a way to generate boilerplate code without leaving PHP and my solution is a mix of PHPstorm templates and a trait for handling complex types. It's documented here: https:

[2019-07-11 09:26] Adirelle opened #120 "ToArray/FromArray do not support associative arrays"
Due to the way fromArray and toArray operates on member arrays, the keys are lost on conversion. This is an issue with associative arrays when keeping the keys is desirable.

I think about two possible sultions:

1. quick and simple: simply keep the keys when converting arrays. No changes to declaration are needed but this can be seen as a breaking change since it alters the behavior of existing c

[2019-07-16 00:26] prolic commented on #120
@Adirelle I saw your PR's. Will take a look this week, super busy right now.

[2019-07-17 20:56] #117 closed

[2019-09-09 12:28] markusmichel opened #126 "Wrong ternary operator in buildToArrayBody"
I'd like to repoen #109 because the problem is still present.

These are the problematic lines of code:
https://github.com/prolic/fpp/blob/13063a0c135953ed641eb93d030eb6643ab22478/src/builder/buildToArrayBody.php#L152-L173

The ternary operator will be appended once for each deriving until the deriving equals one of `Enum`, `ToString`, `Uuid` etc.

Example:
[code]

[code]

Order matters: Correct o

[2019-09-14 02:04] prolic commented on #126
Thanks, will look into it.

On Mon, Sep 9, 2019, 08:28 markusmichel <notifications@github.com> wrote:

[2020-04-10 16:07] #120 closed

[2020-04-11 01:51] prolic commented on #126
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:51] #126 closed

[2020-04-11 01:51] prolic commented on #50
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:51] #50 closed

[2020-04-11 01:51] prolic commented on #51
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:51] #51 closed

[2020-04-11 01:52] prolic commented on #56
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:52] #56 closed

[2020-04-11 01:52] prolic commented on #57
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:52] #57 closed

[2020-04-11 01:52] prolic commented on #80
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:52] #80 closed

[2020-04-11 01:52] prolic commented on #49
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:52] #49 closed

[2020-04-11 01:52] prolic commented on #41
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:52] #41 closed

[2020-04-11 01:52] prolic commented on #34
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:52] #34 closed

[2020-04-11 01:53] prolic commented on #26
A release 0.1.0 has been tagged. There is currently a rewrite going on, so I will close all open issues. If you still want to resolve this issue yourself, you can submit a pull request to the 0.1.x branch.

[2020-04-11 01:53] #26 closed

[2020-05-17 21:41] prolic opened #135 "Remove unneeded imports"
When parsing a uuid or guid, it's required ramsey imports will be merged into the namespace imports, leading to unneeded imports in other classes of that namespace.

Solutions?

Maybe there is a way to detect unused imports right before dumping the file and thus those can be removed. Tools like php-cs-fixer can clean this up as well, but it would be much cleaner if the generated class can be kept

[2020-06-01 21:34] unixslayer opened #137 "Maximum function nesting level reached"
To see what may happen, I took `demo/exmaple.fpp` file and run

[code]

In return I got

[code]

Do I have to do something with my local environment before using FPP or this is (un)known issue?

[2020-06-01 21:38] unixslayer commented on #137
same error shows for other demo examples

[2020-06-01 21:40] prolic commented on #137
try disabling xdebug or set xdebug.max_nesting_level=2560 (just some higher number).

I might kick out the Tuples, as they have some drawback (as you've noticed), but in general it should work.

[2020-06-01 22:27] #137 closed

[2020-06-02 23:33] prolic opened #139 "Problem with custom types"
There are several code generators not working properly when working with custom types that are used to describe userland (or php core) classes.

[2020-06-02 23:35] prolic commented on #139
returning an array of those...

[code]

comparing an array of those...

[code]

converting an array of those to array...

[code]

constructing some...

[code]

[2020-06-03 18:11] #139 closed

[2020-06-03 20:45] prolic opened #141 "Parser cannot parse single Event / Command"

[2020-06-04 01:47] #141 closed

[2020-06-09 00:56] prolic opened #142 "Add non-aggregate root events"
Allow parsing / code generation of events without an aggregate id, this can than be used outside the scope of event sourcing.

[2020-06-10 17:51] prolic opened #143 "Generate psalm-annotations as well"
F.e. `@psalm-immutable` and `@psalm-pure`

[2020-06-14 19:50] prolic opened #144 "Add query type"

[2020-06-14 20:14] prolic opened #145 "Add conditions"

[2020-11-11 01:39] prolic commented on #145
I decided against that.

[2020-11-11 01:39] #145 closed